{{ ansible_managed | comment }}

[ defaults ]

{% if ansible_roles_path is defined %}
roles_path = {{ ansible_roles_path }}
{% endif %}

{% if ansible_retry_files_enabled is defined %}
roles_path = {{ ansible_retry_files_enabled }}
{% endif %}

{% if ansible_inventory is defined %}
roles_path = {{ ansible_inventory }}
{% endif %}

{% if ansible_stdout_callback is defined %}
roles_path = {{ ansible_stdout_callback }}
{% endif %}

{% if ansible_roles_path is defined %}
callback_whitelist = {% for option in ansible_callback_whitelist %}{{ option }}{% if not loop.last %}, {% endif %}{% endfor %}
{% endif %}
